# -----------------------------
# Dataset folder (don't push large raw data)
# -----------------------------
dataset/

# -----------------------------
# ZIP and archive files
# -----------------------------
*.zip
*.tar.gz
*.tar
*.rar

# -----------------------------
# System / OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Virtual environments
# -----------------------------
.venv/
env/
venv/

# -----------------------------
# Python cache / compiled files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Jupyter Notebook checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Trained models & checkpoints
# -----------------------------
# If you want to push .h5 models, comment this out
# saved_model/
# *.h5
checkpoints/
last_epoch*.txt

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Temporary / editor files
# -----------------------------
*.swp
*.swo
*.tmp
